<% @diaries.each do |diary| %>
<div>
    <table>
        <td><%= diary.date %></td>
        <td><%= diary.title %></td>
         <td><%= link_to "#{diary.dia_comments.count} Comment" %><td>
        <td><%= link_to 'Show', diary %></td>
    </table>
</div>
<% end %>

    <li>
      <%= link_to "Diary", new_diary_path %>
    </li>