<h1>Diary</h1>

<%= form_with model: @diary, url: diaries_path, local:true do |f| %>
  <h4>日付</h4>
  <%= f.datetime_field :date %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>

  <%#= f.fields_for :image_ids do |image_id| %>
  <%#= image_id.file_field :image_id, multiple: true %> 
  <%# f.file_field :images, multiple: true %>
  <%# end %>
  
  <% #byebug %>
  
  <%= f.attachment_field :dia_images_images, multiple: true %>
  
  <!--Add image form-->
  <%#= f.fields_for :image_ids do |f_img| %>
    <%#= f_img.file_field :name, class: "hidden image_upload" %>
  <%#end %>

  
  
  
  
  <%= f.submit '投稿' %>
<% end %>