<div>


  <p>記録日：<%= @diary.date %></p>
  <p>タイトル：<%= @diary.title %></p>
  <p>本文：<%= @diary.body %></p>
  
    <% @diary.dia_images.each do |t| %>
    <!--Refile特有の記述↓-->
    <%= attachment_image_tag t, :image, size: "300x300", class: "diary_image rounded" %>
    <%#= image_tag t.image.to_s,width:300,height:300,class: "diary_image rounded" %>
  <% end %>


  <div>
  <p>コメント件数：<%= @diary.dia_comments.count %></p>
  <% @diary.dia_comments.each do |dia_comment| %>
    <%= dia_comment.member.image %>
    <%= dia_comment.member.name %>
    <%= dia_comment.created_at.strftime('%Y/%m/%d') %><%= dia_comment.comment %>
     <% if dia_comment.member == current_member %>
    <div>
      <%= link_to "削除", diary_dia_comment_path(dia_comment.diary, dia_comment), method: :delete %>
    </div>
    <% end %>
  <% end %>
  </div>
  <div>
  <%= form_with(model:[@diary, @dia_comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "Comment" %>
    <%= f.submit "送信" %>
  <% end %>
  </div>


    <% if @diary.member == current_member %>
    <%= link_to "削除", diary_path(@diary), method: :delete %>
    <%= link_to "編集", edit_diary_path(@diary) %>
    <% end %>
</div>