<div>
  <p>記録日：<%= @diary.date %></p>
  <p>タイトル：<%= @diary.title %></p>
  <p>本文：<%= @diary.body %></p>

    <% if @diary.member == current_member %>
    <%= link_to "削除", diary_path(@diary), method: :delete %>
    <%= link_to "編集", edit_diary_path(@diary) %>
    <% end %>
</div>