<div>


  <p>記録日：<%= @diary.date %></p>
  <p>タイトル：<%= @diary.title %></p>
  <p>本文：<%= @diary.body %></p>

    <% @diary.dia_images.each do |t| %>
    <!--Refile特有の記述↓-->
    <%= attachment_image_tag t, :image, size: "300x300", class: "diary_image rounded" %>
    <%#= image_tag t.image.to_s,width:300,height:300,class: "diary_image rounded" %>
  <% end %>



　<div id="good_buttons_<%= @diary.id %>">
　　<%= render "members/dia_goods/goods", diary: @diary %>
　</div>


  <div class="row">
  <div id="comment_create_<%= @diary.id %>">
  <%= render partial: 'members/dia_comments/post', locals: { comment: @comment, diary: @diary } %>

  </div>
  </div>


    <% if member_signed_in? %>
        <div class="comment-create">
            <h3 class="text-left">Comment</h3>
  <div>
  <%= form_with(model:[@diary, @dia_comment], remote: true) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "Comment" %>
    <%= f.submit "送信" %>
  <% end %>
  </div>


        </div>
    <% end %>
</div>






    <% if @diary.member == current_member %>
    <%= link_to "削除", diary_path(@diary), method: :delete %>
    <%= link_to "編集", edit_diary_path(@diary) %>
    <% end %>
</div>

<%= link_to "<---", diaries_path(@member), class: "nav-link" %>