<div class="login" style="color:#fff; text-align: center; font-size: 20px;">
  <h1 class="active"> sign in </h1>

<%= form_with model: @member, url: member_session_path, local: true do |f| %>
  <div class="field border: none">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login_fild" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "login_fild" %>
  </div>

  <!--<%# if devise_mapping.rememberable? %>-->
  <!--  <div class="field">-->
  <!--    <%#= f.check_box :remember_me %>-->
  <!--    <%#= f.label :remember_me %>-->
  <!--  </div>-->
  <!--<%# end %>-->

  <div class="actions">
  <button type="submit" start="border: none; outline: none;  background: transparent;" style="color:#fff;" >
  Log in  <i class="fas fa-sign-in-alt faa-passing animated-hover fa-lg"></i>
  </button>

  </div>
<% end %>

<%#= render "members/shared/links" %>

</div>


