<h2>Sign up</h2>

<%= form_with model: @member, url: aim_path, local: true, method: :post do |f| %>
  <%= render "members/shared/error_messages", resource: @aim %>
  <!--device member-->
  <%= hidden_field_tag 'member[email]', @member.email %>
  <%= hidden_field_tag 'member[name]', @member.name %>
  <%= hidden_field_tag 'member[password]', @member.password %>
  <%= hidden_field_tag 'member[password_confirmation]', @member.password_confirmation %>
  <!--device plofile-->
  <%= hidden_field_tag 'profile[height]', @profile.height %>
  <%= hidden_field_tag 'profile[birth]', @profile.birth %>
  <%= hidden_field_tag 'profile[age]', @profile.age %>
  <%= hidden_field_tag 'profile[sex]', @profile.sex %>

  <div class="aim_w_field">
    <%= f.label :aim_w %><br />
    <%= f.number_field :aim_w %>
  </div>

  <div class="aim_bf_field">
    <%= f.label :aim_bf %><br />
    <%= f.number_field :aim_bf %>
  </div>

   <div class="aim_mus_field">
    <%= f.label :aim_mus %><br />
    <%= f.number_field :aim_mus %>
  </div>

  <div class="aim_sm_field">
    <%= f.label :aim_sm %><br />
    <%= f.number_field :aim_sm %>
  </div>

<%#= f.submit "registration", class: "btn-default btn-red", url: "aims_path", method: :post %>
<%= render "members/shared/links" %>
<%#= render "/registration/registration_footer" %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


