<div class="plofile" style="color:#fff; text-align: center; font-size: 20px;" >
<h2>Plofile</h2>

<%= form_with model: @profile, url: profiles_path, local: true do |f| %>
  <%= render "members/shared/error_messages", resource: @profile %>
  <%= hidden_field_tag 'member[email]', @member.email %>
  <%= hidden_field_tag 'member[name]', @member.name %>
  <%= hidden_field_tag 'member[password]', @member.password %>
  <%= hidden_field_tag 'member[password_confirmation]', @member.password_confirmation %>

  <div class="height_field" style="border:none">
    <%= f.label :height %><br />
    <%= f.number_field :height, autofocus: true %>
  </div>

 <div class="birth_field">
  <%= f.label :birth %>
  <%= f.date_select(
        :birth,
        use_month_numbers: true,
        start_year: 1950,
        end_year: (Time.now.year - 10),
        default: Date.new(1990, 1, 1),
        date_separator: '/')
   %>
</div>

 <div class="age_field">
   <%= f.label :age %><br />
   <%= f.number_field :age, autofocus: true %>
 </div>

 <div class="sex_field">
   <%= f.radio_button :sex, 0, checked: true %>非公開
   <%= f.radio_button :sex, 1 %>男性
   <%= f.radio_button :sex, 2 %>女性
   <%= f.radio_button :sex, 3 %>その他
 </div>

<div class="actions">
  <button type="submit" start="border: none; outline: none;  background: transparent;" style="color:#fff;" onclick="loction.href='/aims'" >
  NEXT<i class="far fa-arrow-alt-circle-right animated-hover fa-lg"></i>
  </button>
  <%#= render "registration_footer" %>
  <%#= render "members/shared/links" %>
<% end %>

 </div>

