<div class="nested-fields">
    <% current_date = Date.current %>
    <div class="row">
    <div class="field">
    <%= f.time_field :time %>
    </div>
    </div>
    <div class="row">
       <div class="col-8 field">
         <%= f.text_field :name,  class: "circle_fild", id: "meals-name", size: 30, style:"display:inline-flex width:50%" %>
       </div>
      <div class="col-3 field">
         <%= f.text_field :calorie,  class: "circle_fild", id: "meals-calorie", size: 4, style:"display:inline-flex width:30%" %>kcal
      </div>
     </div>



      <!--hidden_fieldは削除して、日付の入力をさせる-->
      <%= f.hidden_field :date, value: current_date %>
        <span class="box-unit" id='unit-auto' data-unit='0'></span>

        <%= link_to_remove_association f, class: 'delete_fields' do %>
        <i class="fas fa-minus-circle"></i><% end %>

</div>