<div class="bg_space container-fluid">

 <div class="row justify-content-center mb-4">
   <h1>Record</h1>
 </div>

  <div class="row justify-content-center">
   <div class="col-sm6 mr-5">
    <%= form_with model:@record, url: record_path(@record.id), local:true do |f| %>

    <h5>測定日</h5>
    <%= f.date_field :date %>

    <h5>体重</h5>
    <%= f.text_field :weight %>

    <h5>BMI</h5>
    <%= f.text_field :bmi %>

    <h5>体脂肪率</h5>
    <%= f.text_field :bf %>

    <h5>筋肉量</h5>
    <%= f.text_field :mm %>

    <h5>筋肉率</h5>
    <%= f.text_field :mus %>

    <h5>骨格筋率</h5>
    <%= f.text_field :sm %>
  </div>

  <div class="col-sm5 ml-5">
   <div class="parent">
     <div class="form-box">
       <div class="forms-item">
         <h5>食事</h5>
       </div>
       <!-- １）追加ボタンの記述 -->
       <div class="add-botton-box">
         <%= link_to_add_association "追加", f, :meals,
           class: 'add_fields',
           id: 'add-btn',
           data: {
             association_insertion_node: '#detail-association-insertion-point',
             # association_insertion_method: 'append'
           }
         %>
          <div id="detail-association-insertion-point"></div>
           <%= f.fields_for :meals do |meal| %>
             <%= render "meal_fields", f: meal %>
           <% end %>
      </div>
    </div>
     <div class="forms-item">
      <h5>Workout</h5>
    </div>
              <!-- １）追加ボタンの記述 -->
    <div class="add-botton-box link">
        <%= link_to_add_association "追加", f, :workouts,
          class: 'add_fields',
          id: 'add-btn',
          data: {
          association_insertion_node: '#detail-association-insertion-pointWO',
          }
          %>
    <div id="detail-association-insertion-pointWO">
       <%= f.fields_for :workouts do |workout| %>
       <%= render "workout_fields", f: workout %>
       <% end %>
    </div>
   </div>    
  </div>
    <div class="row">
     <div class="col-sm-2 mt-4">
      <%= f.attachment_field :rec_images_images, multiple: true %>
     </div>
    </div>
  </div>
 </div>
</div>

<div class="row justify-content-center">
   <div class="col-sm3 mt-4">
   <%= f.submit '変更' %>
   </div>
</div>
<% end %>
</div>

  <li class="nav-item">
    <%= link_to "←Back", records_path(member_id: current_member), class: "nav-link" %>
  </li>
