
<%= link_to "Write!!", new_record_path %>

<% @records.each do |record| %>
<div>
    <td><%= record.date %></td>
    <td><%= link_to 'Show',record_path(id: record.id)%></td>
</div>
<% end %>

<%= render 'mychart3' %>


<%= render 'members/members/differences' %>

