<div class="bg_wrap">
  <div class="bg_space container-fluid" style="overflow:auto;">
    <h1 style="text-align: center; color:#00533f66;">Record<h1>
    <div class="rec_box">
      <div class="rec_new_field">
        <%= form_with model:@record, url: records_path, local:true do |f| %>
           <div class="parent">
            <div class="form-box">
            <h5>DATE</h5>
            <%= f.date_field :date, class: "circle_fild" %>
            <h5>WEIGHT</h5>
            <%= f.text_field :weight, class: "circle_fild" %>
            <h5>BMI</h5>
            <%= f.text_field :bmi, class: "circle_fild" %>
            <h5>FAT</h5>
            <%= f.text_field :bf , class: "circle_fild"%>
            <h5>MM</h5>
            <%= f.text_field :mm , class: "circle_fild"%>
            <h5>MUS</h5>
            <%= f.text_field :mus , class: "circle_fild"%>
            <h5>SM</h5>
            <%= f.text_field :sm , class: "circle_fild"%><br><br>

            <%= f.attachment_field :rec_images_images, multiple: true %>
          </div>

        <div class="form-box">
                  <h5>食事</h5>
                <!-- １）追加ボタンの記述 -->
                  <div class="add-botton-box link" style="overflow:auto;">
                    <%= link_to_add_association f, :meals,
                    class: 'add_fields',
                    id: 'add-btn',
                    data: {
                    association_insertion_node: '#detail-association-insertion-point',
                    # association_insertion_method: 'append'
                    } do %>
                    <i class="fas fa-plus-circle"></i>
                    <% end %>
                    <div id="detail-association-insertion-point">
                      <%= f.fields_for :meals do |meal| %>
                        <%= render "meal_fields", f: meal %>
                      <% end %>
                    </div>
                  </div>
              </div>
          <div class="form-box">
                <h5>Workout</h5>

                <!-- １）追加ボタンの記述 -->
                  <div class="add-botton-box link">
                    <%= link_to_add_association f, :workouts,
                    class: 'add_fields',
                    id: 'add-btn',
                    data: {
                    association_insertion_node: '#detail-association-insertion-pointWO',
                    # association_insertion_method: 'append'
                    } do %>
                    <i class="fas fa-plus-circle"></i>
                    <% end %>

                    <div id="detail-association-insertion-pointWO">
                      <%= f.fields_for :workouts do |workout| %>
                        <%= render "workout_fields", f: workout %>
                      <% end %>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="row text-center">
          <button type="submit", style="font-size:20px; color:#fff; margin:10px; text-align:center;">
          POST<i class="far fa-paper-plane faa-float animated-hover"></i></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
      <span class="back_to_circle_index">
      <%= link_to records_path do %>
        <i class="far fa-hand-point-left" style="color:#426579;"></i>
      <% end %>
    </span>


  <div class="bg_video">
    <%= video_tag("#{request.base_url}/video/rec_bg.mp4", autoplay: :true,  loop: :true,  muted: :true) %>
  </div>
</div>

