<h1>Record</h1>

<%= form_with model: @record, url: member_records_path, local:true do |f| %>

  <h4>測定日</h4>
  <%= f.datetime_field :date %>
  <h4>体重</h4>
  <%= f.text_field :weight %>
  <h4>BMI</h4>
  <%= f.text_field :bmi %>
  <h4>体脂肪率</h4>
  <%= f.text_field :bf %>
  <h4>筋肉量</h4>
  <%= f.text_field :mm %>
  <h4>筋肉率</h4>
  <%= f.text_field :mus %>
  <h4>骨格筋率</h4>
  <%= f.text_field :sm %>
  
   <%= f.attachment_field :rec_images_images, multiple: true %>

  <%= f.submit '記録' %>

<% end %>

