<div>
  <p>記録日：<%= @record.created_at.strftime('%Y/%m/%d') %></p>
  <p>体重：<%= @record.weight %></p>
  <p>BMI：<%= @record.bmi %></p>
  <p>体脂肪率：<%= @record.bf %></p>
  <p>筋肉量：<%= @record.mm %></p>
  <p>筋肉率：<%= @record.mus %></p>
  <p>骨格筋率：<%= @record.sm %></p>
  
    <% @record.meals.each do |meal| %>
    <p><%= meal.name %></p>
    <p><%= meal.calorie %></p>
     <% end %>
     
    <% @record.workouts.each do |workout| %>
    <p><%= workout.name %></p>
    <p><%= workout.burned_calorie %></p>
     <% end %>
     
     
  
    <% @record.rec_images.each do |t| %>
    <!--Refile特有の記述↓-->
    <%= attachment_image_tag t, :image, size: "300x300", class: "record_image rounded" %>
    <%#= image_tag t.image.to_s,width:300,height:300,class: "record_image rounded" %>
    <% end %>

    <% if @record.member == current_member %>
    <%= link_to "削除", member_record_path(@record), method: :delete %>
    <%= link_to "編集", edit_member_record_path(@record) %>
    <% end %>


</div>