<div>
  <p>記録日：<%= @record.created_at.strftime('%Y/%m/%d') %></p>
  <p>体重：<%= @record.weight %></p>
  <p>BMI：<%= @record.bmi %></p>
  <p>体脂肪率：<%= @record.bf %></p>
  <p>筋肉量：<%= @record.mm %></p>
  <p>筋肉率：<%= @record.mus %></p>
  <p>骨格筋率：<%= @record.sm %></p>

    <% @record.meals.each do |meal| %>
      <p><%= meal.name %></p>
      <p><%= meal.calorie %>kcal</p>
      <% unless meal.time.blank? %>
        <p><%= meal.time.strftime('%H:%M') %></p>
      <% end %>
    <% end %>


    <% @record.workouts.each do |workout| %>
    <p><%= workout.name %></p>
    <p><%= workout.burned_calorie %>kcal</p>
     <% end %>


    <% @record.rec_images.each do |t| %>
    <!--Refile特有の記述↓-->
    <%= attachment_image_tag t, :image, size: "300x300", class: "record_image rounded" %>
    <%#= image_tag t.image.to_s,width:300,height:300,class: "record_image rounded" %>
    <% end %>



<div>
  <p><i class="far fa-comment"></i><%= @record.rec_comments.count %></p>
  <% @record.rec_comments.each do |rec_comment| %>
      <%#= attachment_image_tag @dia_comment, :image, size: '100x100', format: 'jpeg', fallback: "sample-author1.jpg" %>
    <%= rec_comment.member.name %>
    <%= rec_comment.created_at.strftime('%Y/%m/%d') %><%= rec_comment.comment %>
     <% if rec_comment.member == current_member %>
    <div>
      <%= link_to "削除", record_rec_comment_path(rec_comment.record, rec_comment), method: :delete %>
    </div>
    <% end %>
  <% end %>
  </div>
  <div>

  <%= form_with(model:[@record, @rec_comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "Comment" %>
    <%= f.submit "送信" %>
  <% end %>
  </div>

   <% if @record.gooded_by?(current_member) %>
    <p>
      <%= link_to record_rec_goods_path(@record), method: :delete do %>
        <i class="fas fa-thumbs-up"></i> <%= @record.rec_goods.count %>
      <% end %>いいね
    </p>
    <% else %>
    <p>
      <%= link_to record_rec_goods_path(@record), method: :post do %>
        <i class="far fa-thumbs-up"></i><%= @record.rec_goods.count %>
      <% end %>いいね
    </p>
  <% end %>


    <% if @record.member == current_member %>
    <%= link_to "削除", record_path(@record), method: :delete %>
    <%= link_to "編集", edit_record_path(@record) %>
    <% end %>


</div>