<div class="circle">
　<h1>Circle一覧</h1>
　 <div class="circle_search">
　   <div class="circle_search_form">
　     <%= form_with url: circles_path do |f| %>
　     <%= f.text_field :keyword, pleaseholder: "Circle 検索", class: "circle_search_form_input" %>
　     <%= f.submit 'Search!' %>
　     <% end %>
　   </div>
　 </div>
　 <div class="circle_new">
　   <%= link_to "Create Circle", new_circle_path %>
   </div>

  <% if @circle_joininig == [] %>
     <%= @circle_lists_none %>
  <% else %>

  <div class="circle_list">
    <ul class="circle_list_table">
     <% @circles.each do |circle| %>
       <%# if circle.circle_members.map(&:id).include?(current_member.id)%> <!--全体・自分の所属しているもののみで分ける-->
        <li class="circle_list_table_each_group">
          <%= link_to circle do%>
           <%= circle.name %>
          <% end %>
          <%= circle.member_ids.count %>
        </li>
        <% end %>
      <%# end %>
    </ul>
   </div>
  <% end %>
</div>