<div class="bg_wrap">
  <div class="bg_space container-fluid" style="overflow:auto;">
    <div class="row" style="height: 100%;">
      <div class="col-6 circle_left">
        <div class="show_group">
          <div class="row">
            <div class="col-3 circle_icon align-self-center">
              <%= attachment_image_tag @circle, :image, size: '100x100', format: 'jpeg', fallback: "sample-author1.jpg", style:"background:#fff;",class:"rounded-circle" %>
            </div>
            <div class="col-9 circle_information">
              <div class="row circle_show_name" style="font-size:30px;">
              <%= @circle.name%>
              </div>
              <div class="circle_create small">

              <div class="row circle_creater">
                <div class="row circle_creater_name">
                   <i class="fas fa-crown"></i> <%= @owner.name %>
                    <% if @circle.owner_id == current_member.id %>
                </div>
                <%= link_to  edit_circle_path(@circle), class: "circle_edit" do %>
                <i class="fas fa-wrench faa-shake animated-hover"> <%=" Edit"%></i>
                <% end %>
                <%= link_to circle_path(@circle), method: :delete, class: "circle_delete" do %>
                <i class="fas fa-backspace  faa-burst animated-hover"><%=" delete"%></i>
                <% end %>
              <% elsif @circle.members.include?(current_member) %>

                <%= link_to 'Leave this group', circle_path(@circle), method: :delete, class: "circle_join"%>
                <i class="fas fa-hand-paper faa-shake animated-hover" style="color: #f8f4e6;"></i>
              <% else %>
                <%= link_to 'Join this group', circle_join_path(@circle), class: "btn btn-sm btn-success" %>
              <% end %>
              </div>

              <div class="row">
              <i class="far fa-clock"><%=@circle.created_at.strftime('%Y/%m/%d') %> <%=" cleate"%></i>
              </div>
            </div>
          </div>
        </div>
        <div class="member_icon rounded-circle">
          <% @members.count %>
          <% @members.each do |member| %>
          member<%= attachment_image_tag @member, :image, size: '35x35', format: 'jpeg', fallback: "sample-author1.jpg",style:"background:#fff; margin: 10px", class:"rounded-circle" %>
          <% end %>
        </div>
        <div class="row circle_infomation_content">
          <%= @circle.infomation %>
        </div>
        <span class="lign-self-end back_to_circle_index">
        <%= link_to circles_path do %>
        <i class="far fa-hand-point-left" style="color: #ffffff"></i>
        <% end %>
       </span>
      </div>
      </div>
      <div class="col-6" style="height:780px; overflow:auto;">
        <div class="circle_chat" id="comments" style="height:80%; overflow:auto;">
          <%= render 'comments' %>
        </div>
        <input type="text" class="form-control" id="chat-input" style="width: 80%; display:inline-block; margin:15px" />
        <input type="hidden" value="<%= params[:id] %>" id="circle_id" />
        <input type="hidden" value="<%= current_member.id %>" id="member_id" />

        <button id="button" style="color:#fff; display:inline-block;" >
        <i class="far fa-paper-plane faa-float animated-hover fa-lg" style="margin-top:20px;" ></i>
      </div>
    </div>
  </div>
  <div class="bg_video">
    <%= video_tag("#{request.base_url}/video/circle.mp4", autoplay: :true,  loop: :true,  muted: :true) %>
  </div>
</div>


