<div class="circle_show container-fluid">
  <div class="row" style="height: 100%; ">
    <div class="col-6">
      <div class="show_group">
        <div class="row">
          <div class="col-5 circle_icon rounded-circle">
            <%= attachment_image_tag @circle, :image, size: '100x100', format: 'jpeg', fallback: "sample-author1.jpg" %>
        </div>
        <div class="col-7 circle_information">
          <div class="row circle_show_name">
            <%= @circle.name%>
          </div>
          <div class="row circle_infomation_content">
            <%= @circle.infomation %>
          </div>
          <div class="circle_create small">
            <i class="fas fa-crown"></i> <%= @owner.name %>
            <i class="far fa-clock"><%=@circle.created_at.strftime('%Y/%m/%d') %></i>
          </div>
          
          
          
        </div>


          
          
        </div>



      <div class="member_icon rounded-circle">
      <% @members.count %>
      
      <% @members.each do |member| %>
      <%= attachment_image_tag @member, :image, size: '35x35', format: 'jpeg', fallback: "sample-author1.jpg" %>
      <% end %>
      </div>
      </div>


    <% if @circle.owner_id == current_member.id %>
    <%= link_to 'Edit', edit_circle_path(@circle), class: "btn btn-sm btn-success" %>

    <% elsif @circle.members.include?(current_member) %>
    <%= link_to 'Leave this group', circle_path(@circle), method: :delete, class: "btn btn-sm btn-danger" %>

    <% else %>
    <%= link_to 'Join this group', circle_join_path(@circle), class: "btn btn-sm btn-success" %>
    <% end %>



    <%= link_to "削除", circle_path(@circle), method: :delete %>


    </div>
  <div class="col-6">
  <div class="circle_talk_in">
  talk
  </div>
  <div class="circle_chat" id="comments">
  <%= render 'comments' %>
  </div>


  <input type="text" class="form-control" id="chat-input" />
  <input type="hidden" value="<%= params[:id] %>" id="circle_id" />
  <input type="hidden" value="<%= current_member.id %>" id="member_id" />
  <button id="button" class="btn btn-primary">送信</button>

  </div>
</div>

  </div>







        <span class="back_to_circle_index">
        <%= link_to circles_path do %>
        <<<
        <% end %>
        </span>




