<div class="bg_wrap">
<div class="bg_space container-fluid">
<div class="row">
  <div class="col-sm-8 ml-5">
    <div class="row">
      <div class="col-sm-2 rounded" style="background-color:#ffffffd9">
       <%= attachment_image_tag @member, :image, size: '100x100', format: 'jpeg', fallback: "sample-author1.jpg" %>


      </div>

      <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-4">
              <%= @member.name %>
            </div>
            <div class="col-sm-3">
              Follow
            </div>
          </div>

           <div class="row">
               <div class="col-sm-3">
               Follow
               </div>
               <div class="col-sm-3">
               Folloer
              </div>
          </div>
             <div class="row">
              <div class="col-sm-3">
               Follow数
               </div>
               <div class="col-sm-3">
               Folloer数
              </div>
             </div>
           </div>
         </div>
       </div>


    <div class="col-sm-2">
      <div class="row">

       <div class="row">
       <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
       </div>
       </div>

     <div class="row">
     <nav class="globalMenuSp">
      <% if @member.id == current_member.id %>
      <ul>
        <div class="row">
        <%= link_to "Profile", edit_profile_path(@member) %>
        </div>
        <div class="row">
        <%= link_to "Member Infomation", edit_member_path(@member) %>
        </div>
        <div class="row">
        <%= link_to "Aim", edit_aim_path(@member) %>
        </div>
      </ul>
       <% end %>
     </nav>
    </div>

  </div>


      <div class="row">Diary</div>
      <div class="row">Others</div>
    </div>
</div>

  <div class="row">
    <div class="col-sm-8">
       <%= @member.self_introduction %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-11">
       RANK表示
    </div>
  </div>

    <div class="row">
    <div class="col-sm-6">
      <h5>Transition Chart</h5>
       <div style="width:500px; height:300px; background-color:#ffffffbf">
       <%= render 'members/records/mychart' %>
    </div>
     <div class="col-sm-6">
       Defferent
    </div>
  </div>

    <div class="row">
    <div class="col-sm-6">
       NewPost Diary
    </div>
    <div class="col-sm-5">
      <div class="row">
        OthersWorkout
      </div>
       <div class="row">
        Today's recoad
       </div>
    </div>
  </div>


  <%= link_to "Record", new_member_record_path(@member) %>
  <%= link_to "Diary", new_diary_path %>

  </div>
  <%= video_tag("#{request.base_url}/video/member_bg.mp4", poster: "backdround1.jpg", autoplay: :true,  loop: :true,  muted: :true) %>
</div>





