<p><i class="far fa-comment"></i><%= @diary.dia_comments.count %></p>
<% @diary.dia_comments.each do |dia_comment| %>
  <div class="" style="margin-top:10px; display: flex;">
    <div class="cir_comment_member_image">
      <%= attachment_image_tag dia_comment.member, :image, size: '40x40', format: 'jpeg', fallback: "sample-author1.jpg", style:"background:#fff;",class:"rounded-circle" %>
    </div> 
    <div class="cir_comment">
      <%= dia_comment.comment %>
    </div>
  </div>
  
  <div class="" style="display: flex;">
    <div class="cir_comment_member_name">
      <%= dia_comment.member.name %>
    </div>
    
    <div class="cir_comment_time">
      <%= dia_comment.created_at.strftime('%Y/%m/%d') %>
    </div>
    
    <% if dia_comment.member == current_member %>
      <%= link_to diary_dia_comment_path(dia_comment.diary, dia_comment), method: :delete, remote: true, class: "circle_delete" do %>
        <i class="fas fa-eraser faa-passing animated-hover"></i>
      <% end %> 
    <% end %>
  </div>
<% end %>